
#nav {
  position: sticky;
  top: 0px;
  z-index: 2;
}

#card-pos
{
    width: 18rem;
    height: 25rem;
}

#badge
{
    display: flex;
    position: absolute;
    right: 0;
}

#Title-Text
{
    display: flex;
    justify-content: center;
    color: green;
}